.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272837;
    width: 100vw;
    height: calc(100vh - 56px);
}

.mysearch{
    width: 20%;
    margin: 10px;
    background-color: #212230;
    transition: width 2s;
    border:#3A4458 1px solid;
}

.mysearch:focus{
    width: 60%;
    background-color: #343842;
}